<ion-toolbar color="primary">
  <ion-buttons slot="start">
   <ng-content></ng-content>
     <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title >
    {{pagename}}
   <!-- <img class="mainlogo" src="../../assets/logo.png" height="50" (click)="gotoHome()" > -->
  </ion-title>
