

<ion-content>

<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
      </svg>

      <h2 class="ion-text-center">Thank you</h2>
      <ion-item lines="none" class="ion-text-center ion-text-nowrap">
        <ion-label >
          Your Bus Booking Payment Successfully
        </ion-label>
      </ion-item>

    </ion-col>
  </ion-row>
</ion-grid>



</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center" button (click)="gotohome()">
      <ion-label class="footer">
        GO TO HOMEPAGE
      </ion-label>
    </ion-title>
  </ion-toolbar>
</ion-footer>
