.payment{
  ion-item {
    --background: #f4f6f5;
    ion-label{
      font-size: 16px;
      font-weight: bold;
      color: #37485c;
  }
}
}

ion-footer{
  ion-toolbar{
    ion-title{
      color: white;
      font-weight: bold;
      font-size: 16px;
    }
  }
}
