<ion-header>
  <app-header [pagename]="'Bus Lists'">
    <ion-back-button [text]="" icon="arrow-back"></ion-back-button>
  </app-header>
  <ion-toolbar color="primary">
    <div>
      <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content class="ion-no-padding">
      <ion-toolbar class="places">
        <ion-buttons slot="secondary">
          <ion-button>
            <ion-icon slot="icon-only" name="swap-vertical-outline" color="primary"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="funnel" color="primary"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>
          <p color="primary">
            <strong >Bangaluru - Chennai</strong>
            <br>
            <span class="date">
              <strong >28-May</strong>
            </span>
          </p>
        </ion-title>
      </ion-toolbar>
    </ion-card-content>
  </ion-card>

  <ion-list lines="full">
    <ion-item *ngFor="let bus of busLists" button (click)="gotoseatsPage(bus.id)">
      <ion-label class="ion-text-wrap">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-label>
                <span class="travelsname"> {{bus.name}}</span><br>
                <span  class="couchtype">{{bus.type}}</span>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="seatsrow">
            <ion-col size="6">
              <ion-label class="seats">{{bus.seats}}</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-label class="timing">
                {{bus.traveltime}}
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-label>
                <ion-badge>{{bus.rating}}</ion-badge>
              </ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-label >
                <span class="othertexts">
                  Cancellation policy
                </span>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- <div [hidden]="!p.expanded">
          {{ p.description }}
        </div> -->
      </ion-label>
      <!-- <ion-row>
        <ion-col size="4">
          <ion-button>ADDCART</ion-button>
        </ion-col>
      </ion-row> -->
      <ion-row slot="end" class="ion-no-padding ion-align-items-center" style="display: inline-grid;">
        <ion-col size="12" class="ion-text-right">
          <p class="price">{{bus.price | currency:'INR'}}</p>
          <p class="ttime">
            <strong>{{bus.startingtime}}</strong>
            <br><strong> {{bus.departtime}}</strong></p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

</ion-content>
