<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full">
    <ion-item detail>
      <ion-icon color="primary" name="person" slot="start"></ion-icon>
      <ion-label>
        Karthi S
      </ion-label>
    </ion-item>
    <ion-item detail>
      <ion-icon color="primary" name="location" slot="start"></ion-icon>
      <ion-label>
        Chennai
      </ion-label>
    </ion-item>
    <ion-item detail>
      <ion-icon color="primary" name="call" slot="start"></ion-icon>
      <ion-label>
        8667507831
      </ion-label>
    </ion-item>
    <ion-item detail>
      <ion-icon color="primary" name="mail" slot="start"></ion-icon>
      <ion-label>
        karthis668@gmail.com
      </ion-label>
    </ion-item>

    <ion-item detail>
      <ion-icon color="primary" name="wallet" slot="start"></ion-icon>
      <ion-label>
        ₹15000.00
      </ion-label>
    </ion-item>

    <ion-item detail>
      <ion-icon color="primary" name="clipboard" slot="start"></ion-icon>
      <ion-label>
        karthis668@gmail.com
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Expand -->

</ion-content>
