span {
  font-size: 12px;
}

ion-card{
  box-shadow: 0 8px 15px #e7eaf0;
}

ion-col.route-swap {
  display: flex;
  align-items: center;
  ion-icon {
    font-size: 26px;
    padding-left: 12px;
  }
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

p {
  margin: 0px;
}

ion-button.searchbus{
  --background: #f7c951;
  margin-bottom: 45px;
}
.datespan{
  font-size: 12px;
  font-weight: 900;
}

.todayclass{
  color: #f7c951;
  font-weight: bold;
  font-size: 14px;
}

.tomorrowclass{
  color: #f7c951;
  font-weight: bold;
  font-size: 14px;
}

.dep-sec{
  ion-label{
    font-size: 12px;
  }

  ion-icon{
    font-size: 32px;
  }

  ion-item{
    --inner-padding-start:0px;
    --inner-padding-end:0px
  }
}

ion-item-divider{
  --inner-padding-start:0px;
  --inner-padding-end:0px
}

ion-button.searchbus{
  --background: #f7c951;
  margin-top: 22px;
  margin-bottom: 45px;
  font-weight: 600;
}
